body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/*-----main__nav-----*/

.main__nav {
  position: fixed;
  width: 100%;
  background: white;
  z-index: 101;
  box-shadow: 0 3px 6px 0 grey;
}

.main__nav ul {
  list-style-type: none;
  font-size: 1em;
  font-family: helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
}

.main__nav a {
  font-size: 1em;
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 10px solid transparent;
  display: inline-block;
  position: relative;
}

.main__nav a:before {
    display: block;
    position: absolute;
    content: "";
    height: 10px;
    width: 0;
    background: #C8FE2E;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    left: 50%;
    top: 20px;
}

.main__nav a:after {
    display: block;
    position: absolute;
    content: "";
    height: 10px;
    width: 0;
    background-color: #C8FE2E;
    transition: width 0.3s ease-in-out;
    left: 50%;
    top: 20px;
}

.main__nav a:hover:before {
    width: 50%;
    left: 0;
}

.main__nav a:hover:after {
    width: 50%;
}

/*-----main__nav-----*/

@media (max-width: 1280px) {
  .main__nav ul {
    padding-left: 35px;
  }
  .main__nav a {
    padding: 0;
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .main__nav ul {
    padding-left: 35px;
  }
  .main__nav a {
    font-size: 0.9em;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .main__nav a {
    font-size: 0.8em;
    padding: 0;
    line-height: 1.6em;
    border-bottom: 7px solid transparent;
  }

  .main__nav a:before {
    height: 7px;
    top: 20px;
  }

  .main__nav a:after {
    height: 7px;
    top: 20px;
  }

  .main__nav ul {
    flex-direction: column;
    padding: 0;
    text-align: center;
    line-height: 1.8em;
  }
}

@media (max-width: 480px) {
  .main__nav a {
    font-size: 0.7em;
    line-height: 1.6em;
    border-bottom: 6px solid transparent;
  }

  .main__nav a:before {
    height: 6px;
    top: 15px;
  }

  .main__nav a:after {
    height: 6px;
    top: 15px;
  }

}
@media (max-width: 375px) {
  .main__nav {
    margin-top: -15px;
  }

  .main__nav a {
    font-size: 0.7em;
    line-height: 1.5em;
    border-bottom: 6px solid transparent;
  }

  .main__nav a:before {
    height: 6px;
    top: 15px;
  }

  .main__nav a:after {
    height: 6px;
    top: 15px;
  }
}

/*-----welcome-words-----*/

.welcome-words {
  margin-top: 62px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-words__text {
  width: 100%;
  padding-left: 70px;
  margin-top: 20px;
  font-size: 1.1em;
  font-family: Futura_PT_Cond_Extra_Bold_Obl;
}

/*-----welcome-words-----*/

@media (max-width: 1280px) {
  .welcome-words__text {
      font-size: 0.95em;
  }
}

@media (max-width: 1024px) {
  .welcome-words__text {
      font-size: 0.8em;
      padding-top: 60px;
  }
}

@media (max-width: 768px) {
  .welcome-words__text {
    font-size: 0.65em;
    padding-top: 170px;
    margin-left: -60px;
  }
}

@media (max-width: 480px) {
  .welcome-words__text {
    font-size: 0.38em;
    padding-top: 250px;
    font-weight: bolder;
    padding-left: -5px;
  }
  
@media (max-width: 375px) {
  .welcome-words__text {
    font-size: 0.28em;
  }
}
}

/*-----briefly-----*/

.briefly {
  padding: 55px 0;
  background: white;
  display: flex;
  font-size: 28px;
}

.briefly h1 {
    font-size: 1.2em;
}

.briefly img {
  width: 360px;
  height: 500px;
  padding-left: 70px; 
}

.briefly__text {
  padding-left: 20px;
  width: 60%;
  font-size: 1em;
}

/*-----briefly-----*/

@media (max-width: 1280px) {
  .briefly img {
      width: 320px;
      height: 450px;
      padding-left: 70px;   
  }
  .briefly__text {
      font-size: 0.9em;
      line-height: 1.4em;
  }
}

@media (max-width: 992px) {
  .briefly img {
    width: 280px;
    height: 390px;
    padding-left: 60px;
  }
  .briefly h3 {
    margin-top: 0;
  }
  .briefly__text {
    font-size: 0.8em;
    line-height: 1.4em;
  }
}

@media (max-width: 768px) {
  .briefly {
    padding-top: 200px;
    margin-top: -100px;
  }
  .briefly img {
    width: 240px;
    height: 350px;
    padding-left: 15px;
  }
  .briefly__text {
    font-size: 0.68em;   
  }
}

@media (max-width: 480px) {
  .briefly img {
    width: 170px;
    height: 240px;
    padding-left: 10px;
  }
  
  .briefly__text {
    font-size: 0.45em;
  }

}


/*-----motive-----*/

.motive {
  background: white;
  font-size: 1.85em;
  margin-left: 70px;
  padding: 35px 0 20px 0;
}

.motive h1 {
    font-size: 1.3em;
}

/*-----motive-----*/

@media (max-width: 1280px) {
  .motive {
    font-size: 1.6em;
    line-height: 1.4em;
  }
  .motive h1 {
    font-size: 1.4em;
    padding-top: 5px;
  }
}

@media (max-width: 992px) {
  .motive {
    font-size: 1.45em;
    line-height: 1.4em;
  }
  .motive h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 768px) {
  .motive {
    font-size: 1.2em;
    margin-left: 15px;
    line-height: 1.4em;
    padding-top: 190px;
    margin-top: -190px;
    background-color: transparent;
  }
  .motive h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
    .motive {
      font-size: 0.8em;
    }
    .motive h1 {
      font-size: 1.3em;
    }
}

/*-----my-experience-----*/

.my-experience {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 52px 0 20px 0;
}

.my-experience h1 {
  padding-left: 70px;
  font-size: 2.4em;
  margin-top: 5px;
}

.my-experience__audit {
  display: flex;
  margin-top: -25px;
}

.my-experience__audit_text {
  width: 68%;
  font-size: 1.9em;
  padding-left: 70px;
  line-height: 40px;
}

.my-experience__audit_logo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.my-experience__audit_logo img {
  width: 255px;
  height: 120px;
}

.my-experience__audit_logo span {
  font-size: 1.125em;
  font-weight: bolder;
  padding-left: 50px;
}

.my-experience__coaching {
  padding-top: 100px;
}

.my-experience__coaching_junior,
.my-experience__coaching_real-madrid,
.my-experience__coaching_barca {
  display: flex;
}

.my-experience__coaching_text {
  width: 68%;
  font-size: 1.9em;
  padding-left: 70px;
  line-height: 40px;
 }

.my-experience__coaching_logo {
  display: flex;
  flex-direction: column;
  width: 255px;
  margin: auto;
}

.my-experience__coaching_logo .barca {
  height: 70px;
  width: 250px;
  margin-bottom: 5px;
}

.my-experience__coaching_logo .real {
  width: 180px;
  height: 130px;
  margin-left: 35px;
  padding-bottom: 25px;
}

.my-experience__coaching_logo .junior {
  width: 200px;
  height: 170px;
  margin-left: 30px;
}

.my-experience__coaching_logo span.junior {
  height: 50px;
  width: 175px;
  padding-left: 25px;
  font-size: 1.125em;
  font-weight: bolder;
}

.my-experience__coaching_logo span.real {
  font-size: 1.2em;
  font-weight: bolder;
  padding-left: 35px;
  width: 155px;
}

.my-experience__coaching_logo span.barca {
  font-size: 1.125em;
  font-weight: bolder;
  padding-left: 55px;
  width: 200px;
}

.my-experience__olympic {
  margin-top: 100px;
  display: flex;
}

.my-experience__olympic_logo {
  margin-left: 50px;
  width: 255px;
}

.my-experience__olympic_logo img {
  width: 255px;
  height: 180px;
}

.my-experience__olympic_logo span {
  font-size: 1.165em;
  font-weight: bolder;
  display: flex;
  padding-left: 65px;
}

.my-experience__olympic_text {
  width: 68%;
  font-size: 1.9em;
  margin-left: 70px;
  line-height: 40px;
}

.my-experience__FWC {
  display: flex;
  padding-top: 100px;
}

.my-experience__FWC_text {
  width: 68%;
  font-size: 1.9em;
  padding-left: 70px;
  line-height: 40px;
}

.my-experience__FWC_logo {
  margin-left: 50px;
  width: 255px;
}

.my-experience__FWC_logo img {
  width: 255px;
  height: 255px;
  padding-top: 35px;
}

.my-experience__FWC_logo span.FWC {
  display: flex;
  font-size: 1.125em;
  font-weight: bolder;
  padding-left: 65px;
  padding-top: 10px;
}

/*-----my-experience-----*/

@media (max-width: 1280px) {
  .my-experience__audit_text {
    font-size: 1.65em;
  }
  .my-experience__audit_logo .deloitte {
    width: 230px;
    height: 108px;
  }
  .my-experience__audit_logo .kpmg {
    width: 230px;
    height: 108px;
  }
  .my-experience__audit_logo span {
    font-size: 1.1em;
  }
  .my-experience__coaching_text {
    font-size: 1.65em;
  }
  .my-experience__coaching_logo .junior {
    width: 180px;
    height: 153px;
  }
  .my-experience__coaching_logo span.junior {
    font-size: 1em;
  }
  .my-experience__coaching_logo span.real {
    font-size: 1em;
  }
  .my-experience__coaching_logo .barca {
    width: 225px;
    height: 63px;
    padding-left: 15px;
  }
  .my-experience__coaching_logo span.barca {
    font-size: 1em;
    padding-left: 60px;
  }
  .my-experience__coaching_logo {
    padding-left: 5px;
  }
  .my-experience__olympic_text {
    font-size: 1.6em;
  }
  .my-experience__olympic_logo {
    margin-left: 15px;
  }
  .my-experience__olympic_logo img {
    width: 255px;
    height: 175px;
  }
  .my-experience__olympic_logo span.olympic {
    font-size: 1em;
  }
  .my-experience__FWC_text {
    font-size: 1.6em;
  }
  .my-experience__FWC_logo {
    margin-left: 15px;
  }
  .my-experience__FWC_logo img {
    width: 225px;
    height: 225px;
    padding-left: 15px;
  }
  .my-experience__FWC_logo span.FWC {
    font-size: 1em;
    width: 170px;
  }
}

@media (max-width: 992px) {
  .my-experience h1 {
    font-size: 1.7em;
    padding-top: 3px;
    padding-bottom: 10px;
  }
  .my-experience__audit_text {
    font-size: 1.45em;
      line-height: 1.4em;
  }
  .my-experience__audit_logo .deloitte {
    width: 210px;
    height: 95px;
  }
  .my-experience__audit_logo .kpmg {
    width: 195px;
    height: 95px;
    padding-left: 15px;
  }
  .my-experience__audit_logo span {
    font-size: 0.9em;
  }
  .my-experience__coaching_text {
    font-size: 1.45em;
      line-height: 1.4em;
  }
  .my-experience__coaching_logo {
    width: 210px;
    margin-left: 25px;
  }
  .my-experience__coaching_logo .junior {
    width: 165px;
    height: 148px;
    margin-left: 20px;
  }
  .my-experience__coaching_logo span.junior {
    font-size: 0.9em;
    width: 140px;
    margin-left: 20px;
  }
  .my-experience__coaching_logo .real {
    margin-left: 20px;
    width: 165px;
    height: 120px;
  }
  .my-experience__coaching_logo span.real {
    font-size: 0.9em;
    width: 130px;
  }
  .my-experience__coaching_logo .barca {
    width: 200px;
    height: 53px;
    margin-bottom: 25px;
    padding-left: 0;
  }

  .my-experience__coaching_logo span.barca {
    font-size: 0.9em;
    width: 200px;
    margin-left: 0;
    text-align: center;
    padding-left: 0;
    margin-top: -15px;
  }
  .my-experience__coaching_logo {
    padding-left: 5px;
  }
  .my-experience__olympic_text {
    font-size: 1.45em;
    line-height: 1.4em;
  }
  .my-experience__olympic_logo {
    margin-left: 15px;
    width: 225px;
  }
  .my-experience__olympic_logo img {
    width: 210px;
    height: 150px;
    margin-left: 7px;
  }
  .my-experience__olympic_logo span.olympic {
    font-size: 0.9em;
    padding-left: 55px;
  }
  .my-experience__FWC_text {
    font-size: 1.45em;
      line-height: 1.4em;
  }
  .my-experience__FWC_logo {
    margin-left: 15px;
    width: 225px;
  }
  .my-experience__FWC_logo img {
    width: 200px;
    height: 200px;
    padding-left: 0;
    margin-left: 12px;
  }
  .my-experience__FWC_logo span.FWC {
    font-size: 0.9em;
    width: 170px;
  }
}

@media (max-width: 768px) {
  .my-experience{
    padding-top: 200px;
    margin-top: -160px;
    background-color: transparent;
  }
  .my-experience h1 {
    padding-left: 15px;
    font-size: 1.4em;
   }
   .my-experience__audit_text {
    padding-left: 15px;
    font-size: 1.2em;
    line-height: 1.4em;
   }
   .my-experience__audit_logo .deloitte {
    width: 190px;
    height: 85px;
  }
  .my-experience__audit_logo .kpmg {
    width: 175px;
    height: 85px;
    padding-left: 15px;
  }
  .my-experience__audit_logo span {
    font-size: 0.8em;
  }
  .my-experience__coaching_text {
    padding-left: 15px;
    font-size: 1.2em;
    line-height: 1.4em;
  }
  .my-experience__coaching_logo {
    width: 185px;
  }
  .my-experience__coaching_logo .junior {
    width: 145px;
    height: 132px;
    margin-left: 17px;
  }
  .my-experience__coaching_logo span.junior {
    font-size: 0.8em;
    width: 120px;
    margin-left: 17px;
  }
  .my-experience__coaching_logo .real {
    margin-left: 17px;
    width: 143px;
    height: 100px;
    margin-bottom: 140px;
    padding-bottom: 0;
  }

  .my-experience__coaching_logo span.real {
    font-size: 0.8em;
    width: 108px;
    height: 25px;
    margin-top: -140px;

  }
  .my-experience__coaching_logo .barca {
    width: 180px;
    height: 48px;
    margin-left: -1px;
  }
  .my-experience__coaching_logo span.barca {
    font-size: 0.9em;
    width: 180px;
  }
  
  .my-experience__olympic_text {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-left: 15px;
  }
  .my-experience__olympic_logo {
    margin-left: 25px;
    width: 195px;
  }
  .my-experience__olympic_logo img {
    width: 180px;
    height: 130px;
    margin-left: 7px;
  }
  .my-experience__olympic_logo span.olympic {
    font-size: 0.9em;
    width: 140px;
    margin-left: 7px;
    padding-left: 40px;
  }
  .my-experience__FWC_text {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-left: -55px;
  }
  .my-experience__FWC_logo {
    margin-left: 25px;
    width: 195px;
  }
  .my-experience__FWC_logo img {
    width: 180px;
    height: 180px;
    margin-left: 7px;
  }
  .my-experience__FWC_logo span.FWC {
    font-size: 0.9em;
    width: 150px;
    padding-left: 40px;
  }
}

@media (max-width: 480px) {
   .my-experience h1 {
    padding-left: 10px;
    font-size: 1em;
   }
   .my-experience__audit_text {
    padding-left: 10px;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-right: -35px;
    margin-bottom: 30px;
   }
   .my-experience__audit_logo .deloitte {
    width: 135px;
    height: 60px;
  }
  .my-experience__audit_logo .kpmg {
    width: 127px;
    height: 60px;
    padding-left: 8px;
  }
  .my-experience__audit_logo span {
    font-size: 0.7em;
    padding-left: 20px;
  } 
  .my-experience__coaching {
    margin-top: -80px;
  }
  .my-experience__coaching_real-madrid{
    height: 250px;
  }
  .my-experience__coaching_text {
    padding-left: 10px;
    font-size: 0.8em;
    line-height: 1.4em;

  }
  .my-experience__coaching_logo {
    width: 137px;
  }
  .my-experience__coaching_logo .junior {
    width: 140px;
    height: 120px;
    margin-left: 0;
  }
  .my-experience__coaching_logo span.junior {
    font-size: 0.7em;
    width: 115px;
    margin-left: 0;
  }
  .my-experience__coaching_logo .real {
    margin-left: 0;
    width: 135px;
    height: 100px;
  }
  .my-experience__coaching_logo span.real {
    font-size: 0.7em;
    width: 108px;
  }
  .my-experience__coaching_logo .barca {
    width: 135px;
    height: 34px;
    margin-left: 0;
  }
  .my-experience__coaching_logo span.barca {
    font-size: 0.7em;
    width: 135px;
  }
  
  .my-experience__olympic_text {
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 10px;
    margin-top: -50px;
  }
  .my-experience__olympic_logo {
    margin-left: 15px;
    width: 140px;
    margin-top: -50px;
  }
  .my-experience__olympic_logo img {
    width: 140px;
    height: 105px;
    margin-left: 0;
  }
  .my-experience__olympic_logo span.olympic {
    font-size: 0.7em;
    width: 100px;
    margin-left: 0;
    padding-left: 40px;
  }
  .my-experience__FWC_text {
    font-size: 0.8em;
    line-height: 1.4em;
    margin-left: 0;
    padding-left: 10px;
    margin-top: -50px;
  }
  .my-experience__FWC_logo {
    margin-left: 25px;
    width: 140px;
    margin-top: -70px;
  }
  .my-experience__FWC_logo img {
    width: 140px;
    height: 140px;
    margin-left: 0;
  }
  .my-experience__FWC_logo span.FWC {
    font-size: 0.7em;
    width: 105px;
    padding-left: 35px;
    margin-top: -5px;
  }

@media (max-width: 375px) {
    .my-experience__coaching_barca {
      margin-top: 60px;
    }
  }
}


/*-----why-me-----*/

.why-me {
  padding: 35px 0 20px 0;
  margin-left: 70px;
  font-size: 1.9em;
}

.why-me h1 {
    font-size: 1.2em;
}

.why-me__slider {
  width: 800px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
  text-align: center;
  margin: auto;
}

.why-me__slider > input {
  display: none;
}
    
.why-me__slider > input + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: rgba(90, 90, 90, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin-right: 4px;
  top: 89%;
  transition: background 0.8s ease-out 0s;
}

.why-me__slider > input + label:hover {
  background: rgba(250, 250, 250, 0.8);
}

.why-me__slider > input:checked + label {
  background: rgba(220, 220, 220, 0.8);
}

.why-me__slider > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.why-me__slider > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.why-me__slider > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

/*-----why-me-----*/

@media (max-width: 1280px) {
    .why-me h1 {
        font-size: 1.2em;
    }
    .why-me p {
        font-size: 0.85em;
        line-height: 1.4em;
    }
}

@media (max-width: 1024px) {
    .why-me p {
        font-size: 0.85em;
    }
}

@media (max-width: 992px) {
    .why-me h1 {
      font-size: 0.9em;
      padding-top: 5px;
    }
    .why-me p {
        font-size: 0.8em;
        line-height: 1.4em;
    }
    .why-me__slider {
        width: 720px;
        height: 405px;
    }
    .why-me__slider img {
        width: 720px;
        height: 405px;
    }

}

@media (max-width: 768px) {
    .why-me {
      padding-top: 190px;
      margin-top: -160px;
    }
    .why-me h1 {
        font-size: 0.75em;
        margin-left: -55px;
    }
    .why-me p {
        font-size: 0.62em;
        line-height: 1.3em;
        margin-left: -55px;
    }
    .why-me__slider {
        width: 648px;
        height: 365px;
        margin-left: -20px;
    }
    .why-me__slider img {
        width: 648px;
        height: 365px;
    }
}

@media (max-width: 480px) {
    .why-me h1 {
        font-size: 0.6em;
        margin-left: -60px;
    }
    .why-me p {
        font-size: 0.43em;
        line-height: 1.2em;
        margin-left: -60px;
    }
    .why-me__slider {
        width: 440px;
        height: 247px;
        margin-left: -60px;
    }
    .why-me__slider img {
        width: 440px;
        height: 247px;
    }
    .why-me__slider label {
        margin-bottom: 5px;
    }
@media (max-width: 375px) {
    .why-me__slider {
      width: 340px;
      height: 228px;
    }
    .why-me__slider img {
      width: 340px;
      height: 228px;
    }
    .why-me__slider label {
      margin-bottom: 7px;
    }
    }
@media (max-width: 360px) {
    .why-me__slider {
        width: 340px;
        height: 225px;
    }
    .why-me__slider img {
        width: 340px;
        height: 225px;
    }
    }
}

/*-----contact_info-----*/

.contact_info {
  margin-top: 100px;
  height: 450px;
  font-size: 1.675em;
  margin-left: 70px;
}

.phone_number, .e-mail {
  font-weight: bold;
  font-size: 1.575em;
  margin-top: -20px;
}

/*-----contact_info-----*/

@media (max-width: 1280px) {
    .contact_info {
        font-size: 1.6em;
    }
}

@media (max-width: 992px) {
    .contact_info {
        font-size: 1.4em;
        line-height: 1.4em;
    }
}

@media (max-width: 768px) {
    .contact_info{
        font-size: 1.2em;
        margin-left: 25px;
        line-height: 1.4em;
        padding-top: 350px;
        margin-top: -160px;
    }
}

@media (max-width: 480px) {
    .contact_info {
        font-size: 0.8em;
        line-height: 1.6em;
        margin-left: 15px;
    }
}

.glitch {
  color: black;
  font-size: 7.375em;
  position: relative;
  min-width: 400px;
  margin: 0 auto;
  margin-left: 10px;
}

@keyframes noise-anim {
  0% {
    clip: rect(20px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 18px, 0);
  }
  15% {
    clip: rect(94px, 9999px, 27px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 94px, 0);
  }
  25% {
    clip: rect(55px, 9999px, 42px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(79px, 9999px, 90px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  55% {
    clip: rect(76px, 9999px, 19px, 0);
  }
  60% {
    clip: rect(7px, 9999px, 93px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 24px, 0);
  }
  75% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(16px, 9999px, 45px, 0);
  }
  100% {
    clip: rect(12px, 9999px, 65px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 94px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 3px, 0);
  }
  15% {
    clip: rect(29px, 9999px, 24px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  25% {
    clip: rect(13px, 9999px, 44px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 17px, 0);
  }
  40% {
    clip: rect(67px, 9999px, 73px, 0);
  }
  45% {
    clip: rect(26px, 9999px, 17px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 5px, 0);
  }
  55% {
    clip: rect(45px, 9999px, 96px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(39px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(62px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(83px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 53px, 0);
  }
  95% {
    clip: rect(10px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(89px, 9999px, 65px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}












