body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: helvetica;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

/*-----main__nav-----*/

.main__nav {
  padding-top: 10px;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 1;
  box-shadow: 0px 3px 6px 0px grey;
}

.main__nav ul {
  list-style-type: none;
  font-size: 1em;
  font-family: arrial;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10px;
}

.main__nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: 10px solid transparent;
}

.main__nav a:hover {
  border-bottom: 10px solid #C8FE2E;
}

/*-----main__nav-----*/
  

/*-----welcome-words-----*/

.welcome-words {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.welcome-words span {
  color: black;
  font-size: 7.4em;
}

.welcome-words__text {
  width: 100%;
  margin: auto;
  padding-left: 70px;
  padding-top: 100px;
}

/*-----welcome-words-----*/

/*-----briefly-----*/

.briefly {
  padding: 55px 0px;
  background: white;
  display: flex;
  font-size: 28px;
}

.briefly img {
  width: 500px;
  height: 500px;
  padding-left: 70px; 
}

.briefly__text {
  padding-left: 20px;
  width: 60%;
  font-size: 1em;
}

/*-----briefly-----*/

/*-----motive-----*/

.motive {
  background: white;
  font-size: 2em;
  margin-left: 70px;
  padding: 20px 0px;
}

/*-----motive-----*/

/*-----anchors-----*/

.anchor1 {
  font-size: 10px;
  margin-top: 80px;
  color: white;
} 

.anchor2 {
  font-size: 10px;
  color: white;
}

.anchor3 {
  font-size: 10px;
  color: white;  
}

.anchor4 {
  font-size: 10px;
  color: white;  
}

.anchor5 {
  font-size: 10px;
  color: white;  
}

/*-----anchors-----*/

/*-----my-experience-----*/

.my-experience {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 40px 0px;
}

.my-experience h1 {
  padding-left: 70px;
}

.my-experience__audit {
  display: flex;
}

.my-experience__audit_text {
  width: 68%;
  font-size: 1.75em;
  padding: 30px 0px  40px 70px;
  line-height: 40px;
}

.my-experience__audit_logo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
}

.my-experience__audit_logo img {
  width: 255px;
  height: 120px;
}

.my-experience__audit_logo span {
  font-size: 1.125empx;
  font-weight: bolder;
  padding-left: 50px;
}

.my-experience__coaching {
  padding-top: 100px;
}

.my-experience__coaching_junior,
.my-experience__coaching_real-madrid,
.my-experience__coaching_barca {
  display: flex;
}


.my-experience__coaching_text {
  width: 68%;
  font-size: 1.75em;
  padding-left: 70px;
  line-height: 40px;
 }

.my-experience__coaching_logo {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 255px;
  margin: auto;
}

.my-experience__coaching_logo .barca {
  height: 70px;
}

.my-experience__coaching_logo .real {
  width: 180px;
  height: 130px;
  margin-left: 35px;
  padding-bottom: 25px;
}

.my-experience__coaching_logo .junior {
  width: 200px;
  height: 170px;
  margin-left: 30px;
}

.my-experience__coaching_logo span.junior {
  height: 50px;
  width: 175px;
  padding-left: 25px;
  font-size: 1.125em;
  font-weight: bolder;
}

.my-experience__coaching_logo span.real {
  font-size: 1.225em;
  font-weight: bolder;
  padding-left: 35px;
  width: 155px;
}

.my-experience__coaching_logo span.barca {
  font-size: 1.125em;
  font-weight: bolder;
  padding-left: 55px;
  width: 200px;
  
}

.my-experience__olympic {
  margin-top: 100px;
  display: flex;
}

.my-experience__olympic_logo span.olympic {
  margin-left: 110px;
  font-size: 1.125em;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  display: flex;
  margin: auto;
}

.my-experience__olympic_text {
  width: 68%;
  font-size: 1.750em;
  margin-left: 70px;
}

.my-experience__olympic_logo {
  margin-left: 50px;
}

.my-experience__olympic_logo img {
  width: 255px;
  height: 180px;
  display: flex;
}

.my-experience__FWC {
  display: flex;
  padding-top: 100px;
}

.my-experience__FWC_text {
  width: 68%;
  font-size: 1.750em;
  padding-left: 70px;
}

.my-experience__FWC_logo img {
  width: 255px;
  height: 255px;
  padding-left: 50px;
  padding-top: 35px;  
}

.my-experience__FWC_logo span.FWC {
  display: flex;
  width: 200px;
  height: 50px;
  font-size: 1.125em;
  font-weight: bolder;
  padding-left: 105px;
  padding-top: 10px;
}

/*-----my-experience-----*/

/*-----why-me-----*/

.why-me {
  padding: 25px 0px;
  margin-left: 70px;
  font-size: 1.675em;
}

.why-me__slider {
  width: 800px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
  text-align: center;
  margin: auto;
}

.why-me__slider > input {
  display: none;
}
    
.why-me__slider > input + label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  background: rgba(90, 90, 90, 0.8);
  border: 2px solid rgba(190, 190, 190, 0.8);
  cursor: pointer;
  z-index: 100;
  position: relative;
  margin-right: 4px;
  top: 90%;
  transition: background 0.8s ease-out 0s;
}

.why-me__slider > input + label:hover {
  background: rgba(250, 250, 250, 0.8);
}

.why-me__slider > input:checked + label {
  background: rgba(220, 220, 220, 0.8);
}

.why-me__slider > div {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.why-me__slider > div {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}

.why-me__slider > input:checked + label + div {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}

/*-----why-me-----*/

/*-----contact_info-----*/

.contact_info {
  margin-top: 100px;
  height: 450px;
  font-size: 1.675em;
  margin-left: 70px;
}

.phone_number, .e-mail {
  font-weight: bold;
  font-size: 1.575em;
  margin-top: -20px;
}

/*-----contact_info-----*/

.glitch {
  color: black;
  font-size: 7.375em;
  position: relative;
  min-width: 400px;
  margin: 0 auto;
  margin-left: 10px;
}

@keyframes noise-anim {
  0% {
    clip: rect(20px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(67px, 9999px, 95px, 0);
  }
  10% {
    clip: rect(95px, 9999px, 18px, 0);
  }
  15% {
    clip: rect(94px, 9999px, 27px, 0);
  }
  20% {
    clip: rect(67px, 9999px, 94px, 0);
  }
  25% {
    clip: rect(55px, 9999px, 42px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 100px, 0);
  }
  35% {
    clip: rect(94px, 9999px, 1px, 0);
  }
  40% {
    clip: rect(3px, 9999px, 98px, 0);
  }
  45% {
    clip: rect(79px, 9999px, 90px, 0);
  }
  50% {
    clip: rect(90px, 9999px, 90px, 0);
  }
  55% {
    clip: rect(76px, 9999px, 19px, 0);
  }
  60% {
    clip: rect(7px, 9999px, 93px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(16px, 9999px, 24px, 0);
  }
  75% {
    clip: rect(25px, 9999px, 57px, 0);
  }
  80% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  85% {
    clip: rect(84px, 9999px, 91px, 0);
  }
  90% {
    clip: rect(60px, 9999px, 17px, 0);
  }
  95% {
    clip: rect(16px, 9999px, 45px, 0);
  }
  100% {
    clip: rect(12px, 9999px, 65px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(61px, 9999px, 94px, 0);
  }
  5% {
    clip: rect(1px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(98px, 9999px, 3px, 0);
  }
  15% {
    clip: rect(29px, 9999px, 24px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 80px, 0);
  }
  25% {
    clip: rect(13px, 9999px, 44px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 27px, 0);
  }
  35% {
    clip: rect(92px, 9999px, 17px, 0);
  }
  40% {
    clip: rect(67px, 9999px, 73px, 0);
  }
  45% {
    clip: rect(26px, 9999px, 17px, 0);
  }
  50% {
    clip: rect(57px, 9999px, 5px, 0);
  }
  55% {
    clip: rect(45px, 9999px, 96px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 54px, 0);
  }
  65% {
    clip: rect(39px, 9999px, 11px, 0);
  }
  70% {
    clip: rect(61px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(67px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(62px, 9999px, 63px, 0);
  }
  85% {
    clip: rect(83px, 9999px, 58px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 53px, 0);
  }
  95% {
    clip: rect(10px, 9999px, 36px, 0);
  }
  100% {
    clip: rect(89px, 9999px, 65px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}












